__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

.DS_Store
Thumbs.db

.venv/
.venv_sys/
_install/

out_*/
out*/

site/
_out_make_hw2d_assets/

# Packaging/build artifacts
*.egg-info/
build/
dist/

# Matplotlib + cache dirs created by CLI/examples
.mplcache/
.cache/

# Coverage (optional)
.coverage
coverage.xml
htmlcov/
